/* max width 1,024px */
@media only screen and (max-width: 64em) {
	html {
		font-size: 55%;
	}
}

/* max width 992px */
@media only screen and (max-width: 62em) {
	.sidebar {
		transform: translateX(-100%);
	}
	.dashboard-wrapper {
		width: 100%;
		padding-bottom: 5rem;
	}

	.mbl-nav .balence {
		align-items: flex-start;
	}

	/* h1.heading {
		font-size: 5.7rem;
	}

	h2.heading {
		font-size: 4.6rem;
	}

	h3.heading {
		font-size: 3.2rem;
	}

	h5.heading {
		font-size: 2.4rem;
	}

	.text {
		font-size: 1.6rem;
	} */
}

/* max width 768px */
@media only screen and (max-width: 48em) {
}

/* max width 575px */
@media only screen and (max-width: 35.9375em) {
	.container {
		padding: 0 5rem;
	}

	html {
		font-size: 50%;
	}
}

/* max width 480px */
@media only screen and (max-width: 30em) {
	/* h1.heading {
		font-size: 4.5rem;
	}

	h2.heading {
		font-size: 4rem;
	}

	h3.heading {
		font-size: 2.6rem;
	}

	h5.heading {
		font-size: 2.2rem;
	}

	.text {
		font-size: 1.4rem;
	} */
}

/* max width 380px */
@media only screen and (max-width: 23.75em) {
}
